name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Disable shallow clone for better analysis

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@e03467c83b5f40d2e68a83e35ab5157e6c2b7bde
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}   # Required if using self-hosted SonarQube
